.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Sarmayı aktif bırak */
  width: 480px; /* Sabit genişlik */
  margin: 0 auto; /* Yatayda ortalama */
  box-sizing: border-box; /* Genişlik hesaplamasını iyileştirir */
  border-radius: 10px;
}

hr.new4 {
  border: 1px solid red;
}
